.center-circle{
    margin: 0;
    position: absolute;
    top: 50%;  
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    height: 30em;
    width: 30em;
    border-radius: 100%;
    background-color: #0B2265;

}

.home-page-intro{
    position: absolute;
    transform: translate(-50%, 60%);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3rem;
}